atomicwrites==1.1.5
attrs==18.1.0
colorama==0.3.6
Django==1.10.8
django-crispy-forms==1.7.0
django-debug-toolbar==1.8
django-extensions==1.9.7
django-geojson==2.12.0
django-leaflet==0.21.0
django-password-reset==1.0
factory-boy==2.8.1
fake-factory==0.5.7
Faker==0.7.7
more-itertools==4.2.0
pluggy==0.8.1
psycopg2==2.7.6.1
py==1.5.4
pytest==4.1.1
pytest-django==3.4.5
python-dateutil==2.5.3
setuptools-scm==1.11.1
six==1.11.0
sqlparse==0.2.2
typing==3.6.2
