Django
South
WebOb
WebTest
Werkzeug
beautifulsoup4
coverage
django-coverage
django-crispy-forms
django-debug-toolbar
django-extensions
django-nose
django-olwidget
django-password-reset
django-passwords
django-webtest
elpy
factory-boy
jedi
nose
psycopg2
pyreadline
six
waitress
