<!-- This template contains the document ready function(s) associated with a
leaflet map of stocking locations.  It taks a list of stocking events (object_list)
and creates geojson layers that are colour coded by species, strain, and hatchery.
which layer is displayed is controled by click events on byhatchery, bystrain, and byspecies
buttons.

Be sure to inlude  a map div in your main template:
          <div id="main_map" style="width: 800px; height: 700px;"></div>

 -->

<script type="text/javascript">

{% load geojson_tags %}

 $(document).ready(function(){

     // we will initialize the map over lake huron - this could be customized at some point in the future.
     var  my_map = new L.map('main_map').setView([45,-82], 7);

     var events = {{ object_list|geojsonfeature:"popup_text,spc_code,strain_code,hatchery_code"|safe }};

     function onEachFeature(feature, layer) {
         if (feature.properties && feature.properties.popup_text) {
             layer.bindPopup(feature.properties.popup_text);
         }
     }

     var  byspecies = L.geoJson(events, {
         style: function(feature) {
             switch (feature.properties.spc_code) {
                     //bright pink
                 case 74: return {color: "#FF3399", fillColor:"#FF3399"};
                     // purple - light purple
                 case 75: return {color: "#6600CC", fillColor:"#CC99FF"};
                     // red - yellow fill
                 case 76: return {color: "#FF0000", fillColor:"#FFFF66"};
                     // orange -- orange fill
                 case 78: return {color: "#CC3300", fillColor:"#FF9933"};
                     // green -- dk green
                 case 80: return {color: "#00CC00", fillColor:"#006600"};
                     //green - yellow fill
                 case 81: return {color: "#00CC00", fillColor:"#FFFF66"};
                     // green - light green
                 case 82: return {color: "#00CC00", fillColor:"#CCFFCC"};
                     // green - bright pink
                 case 87: return {color: "#00CC00", fillColor:"#FF66CC"};
                     // red - red fill
                 case 132: return {color: "#FF0000", fillColor:"#FF0000"};
                     // blue - blue fill
                 case 316: return {color: "#0000FF", fillColor:"#0000FF"};
                     // blue -- yellow fill
                 case 334: return {color: "#0000FF", fillColor:"#FFFF00"};
                     // purple - light yellow fill
                 default: return {color: "#6600CC", fillColor:"#FFFF99"};
             }},
         pointToLayer: function(feature, latlng) {
             return new L.CircleMarker(latlng, {radius: 5, fillOpacity: 0.75});
         },
         onEachFeature: onEachFeature})


     var  bystrain = L.geoJson(events, {
         style: function(feature) {
             switch (feature.properties.strain_code) {
                 // these are hardcoded right now, but should be dynamic in the future.
                     //bright pink
                 case "MB": return {color: "#FF3399", fillColor:"#FF3399"};
                     // purple - light purple
                 case "SN": return {color: "#6600CC", fillColor:"#CC99FF"};
                     // red - yellow fill
                 case "ST": return {color: "#FF0000", fillColor:"#FFFF66"};
                     // orange -- orange fill
                 case "BS": return {color: "#CC3300", fillColor:"#FF9933"};
                     // green -- dk green
                 case "LM": return {color: "#00CC00", fillColor:"#006600"};
                     //green - yellow fill
                 case "MP": return {color: "#00CC00", fillColor:"#FFFF66"};
                     // green - light green
                 case "IB": return {color: "#00CC00", fillColor:"#CCFFCC"};
                     // green - bright pink
                 case "DOM": return {color: "#00CC00", fillColor:"#FF66CC"};
                     // red - red fill
                 case "UNKN": return {color: "#FF0000", fillColor:"#FF0000"};
                     // purple - light yellow fill
                 default: return {color: "#6600CC", fillColor:"#FFFF99"};
             }},
         pointToLayer: function(feature, latlng) {
             return new L.CircleMarker(latlng, {radius: 5, fillOpacity: 0.75});
         },
         onEachFeature: onEachFeature})


     var  byhatchery = L.geoJson(events, {
         style: function(feature) {
             switch (feature.properties.hatchery_code) {
                 // these are hardcoded right now, but should be dynamic in the future.
                     //bright pink
                 case "BJC": return {color: "#FF3399", fillColor:"#FF3399"};
                     // purple - light purple
                 case "TTC": return {color: "#6600CC", fillColor:"#CC99FF"};
                     // red - yellow fill
                 case "CWC": return {color: "#FF0000", fillColor:"#FFFF66"};
                     // orange -- orange fill
                 case "LHC": return {color: "#CC3300", fillColor:"#FF9933"};
                     // green -- dk green
                 case "MVA": return {color: "#00CC00", fillColor:"#006600"};
                     //green - yellow fill
                 case "SSA": return {color: "#00CC00", fillColor:"#FFFF66"};
                     // green - light green
                 case "BPA": return {color: "#00CC00", fillColor:"#CCFFCC"};
                     // green - bright pink
                 case "GBC": return {color: "#00CC00", fillColor:"#FF66CC"};
                     // red - red fill
                 case "BFA": return {color: "#FF0000", fillColor:"#FF0000"};
                     // blue - blue fill
                 case "GTAA": return {color: "#0000FF", fillColor:"#0000FF"};
                     // blue -- yellow fill
                 case "TGB": return {color: "#0000FF", fillColor:"#FFFF00"};
                     // purple - light yellow fill
                 default: return {color: "#6600CC", fillColor:"#FFFF99"};
             }},
         pointToLayer: function(feature, latlng) {
             return new L.CircleMarker(latlng, {radius: 5, fillOpacity: 0.75});
         },
         onEachFeature: onEachFeature})

     L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6IjZjNmRjNzk3ZmE2MTcwOTEwMGY0MzU3YjUzOWFmNWZhIn0.Y8bhBaUMqFiPrDRW9hieoQ', {
         maxZoom: 18,
         attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
                      '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
                      'Imagery  <a href="http://mapbox.com">Mapbox</a>',
         id: 'mapbox.streets'
     }).addTo(my_map);

     byspecies.addTo(my_map);

     // button click events.

     $("#byhatchery").click(function() {
         my_map.removeLayer(byspecies);
         my_map.removeLayer(bystrain);
         my_map.addLayer(byhatchery);

         $("#byhatchery").removeClass("btn-default").addClass("btn-primary");
         $("#byspecies").removeClass("btn-primary").addClass("btn-default");
         $("#bystrain").removeClass("btn-primary").addClass("btn-default");

     });

     $("#byspecies").click(function(){
         my_map.removeLayer(bystrain);
         my_map.removeLayer(byhatchery);
         my_map.addLayer(byspecies);

         $("#byspecies").removeClass("btn-default").addClass("btn-primary");
         $("#bystrain").removeClass("btn-primary").addClass("btn-default");
         $("#byhatchery").removeClass("btn-primary").addClass("btn-default");

     });

     $("#bystrain").on("click", function (e) {
         my_map.removeLayer(byhatchery);
         my_map.removeLayer(byspecies);
         my_map.addLayer(bystrain);

         $("#bystrain").removeClass("btn-default").addClass("btn-primary");
         $("#byspecies").removeClass("btn-primary").addClass("btn-default");
         $("#byhatchery").removeClass("btn-primary").addClass("btn-default");

     });

 });  //end of document ready

//===================================


 $(".tablesorter").tablesorter({
     theme: 'bootstrap',
     widthFixed: true,
     showProcessing: true,
     headerTemplate: '{content} {icon}',
     widgets: ['zebra', 'uitheme', 'scroller'],
     widgetOptions: {
         scroller_height: 300,
         scroller_barWidth: 17,
         scroller_jumpToHeader: true,
         scroller_idPrefix: 's_'
     }
 });

 $('#myTabs a').click(function (e) {
     e.preventDefault()
         $(this).tab('show')
 })

</script>
