{% extends "fsis2/fsis2_base.html" %}


{% block extrahead %}

{% load humanize %}
{% load fsis2_filters %}
{% load geojson_tags %}
{% load leaflet_tags %}

{% leaflet_js %}
{% leaflet_css %}


<style>

 td {
     padding: 0px 10px 2px 0px;}

</style>

{% endblock extrahead %}


{% block content %}


<div class="container">
     {% if proponent %}
    <h3>Stocking events associated with {{ proponent.proponent_name}} ({{ proponent.abbrev}}) in {{ year }}:</h3>
    {% else %}
    <h3> {{ species.common_name }} Stocking events for {{ year }}:</h3>
    {% endif %}
    <br />

    <div id="maprow" class="row" >
        <div class="col-md-11" >
            <div id="main_map" style="width: 900px; height: 700px;"></div>
            <div class="btn-group" role="group" aria-label="plotby">
                <button type="button" id="byspecies" class="btn btn-primary">By Species</button>
                <button type="button" id="bystrain" class="btn btn-default">By Strain</button>
                <button type="button" id="byhatchery" class="btn btn-default" >By Hatchery</button>
            </div>

        </div>

        <div class="col-md-1" >
            <div class="btn-group-vertical" role="group" aria-label="plotby">

            {% for yr in other_years|slice:":15" %}
                {% if yr == year %}
                <a class="btn btn-primary" href="#">{{ yr }}</a>
                {% else %}
                  {% if proponent %}
                    <a class="btn btn-default" href="{% url 'hatchery_annual_events' proponent.abbrev yr %}">{{ yr }}</a>

                  {% elif species %}
                    <a class="btn btn-default" href="{% url 'species_annual_events' species.species_code yr %}">{{ yr }}</a>
                  {% else %}
                    <a class="btn btn-default" href="{% url 'annual_events' yr %}">{{ yr }}</a>
                  {% endif %}
                {% endif %}
            {% endfor %}


             <div class="btn-group" role="group">
                 <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                       Older
                       <span class="caret"></span>
                       </button>
                            <ul class="dropdown-menu">
            {% for yr in other_years|slice:"15:" %}
                  {% if proponent %}
                    <li><a href="{% url 'hatchery_annual_events' proponent.abbrev yr %}">{{ yr }}</a></li>
             {% elif species %}
                    <li><a href="{% url 'species_annual_events' species.species_code yr %}">{{ yr }}</a></li>
                  {% else %}
                    <li><a href="{% url 'annual_events' yr %}">{{ yr }}</a></li>
                  {% endif %}
            {% endfor %}
                  </ul>
      </div>


            </div>

        </div>
    </div>

    <br />

    {% if object_list %}

    {% regroup object_list by lot.species as species_list %}

    <div>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">

            {% for species in species_list %}
            <li role="presentation" {% if forloop.first %}class="active"{% endif %}><a href="#{{ species.grouper|scrub_spc }}" aria-controls="{{ species.grouper|scrub_spc }}" role="tab" data-toggle="tab">{{ species.grouper }} (N={{ species.list|length }})</a></li>

            {% endfor %}
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            {% for species in species_list %}
            <div role="tabpanel" class="tab-pane {% if forloop.first %}active{% endif %}" id="{{ species.grouper|scrub_spc }}">

                <table id="myTable {{ species.grouper|scrub_spc }}" class="table tablesorter">
                    <thead><tr>
                        <td>FSIS Event</td>
                        <td>Species</td>
                        <td>Strain</td>
                        <td>Number Stocked</td>
                        <td>Event Date</td>
                        <td>Site Name</td>
                        <td>Clip Applied</td>
                        {% if not proponent %}
                        <td>Hatchery</td>
                        {% endif %}
                        <td>Development Stage</td></tr>
                    </thead>
                    <tbody>
                        {% for event in species.list %}
                        <tr class="{% cycle row1,row2 %}">
                            <td> <a href="{% url 'event_detail'  event.id  %}">{{ event.fs_event }}</a> </td>
                            <td> {{ event.lot.species.common_name | title }} </td>
                            <td> {{ event.lot.strain.strain_name | title }} </td>
                            <td> {{ event.stkcnt|intcomma }} </td>
                            <td> {{ event.event_date|date }} </td>
                            <td> {{ event.site.site_name }} </td>
                            <td> {{ event.clipa }} </td>
                            {% if not proponent %}
                               <td>
                                   <a href="{% url 'hatchery_annual_events' event.lot.proponent.abbrev  year %}">
                                       {{ event.lot.proponent.abbrev }}</a>
                               </td>
                            {% endif %}

                            <td> {{ event.get_development_stage_display }} </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div>
            {% endfor %}
        </div>
    </div>

    {% else %}

    {% if proponent %}
    <h4> {{ proponent.proponent_name}} ({{ proponent.abbrev}}) did not stock any fish in {{ year}}.</h4>
    {% elif species %}
    <h4> {{ species.common_name }} were not stocked in {{ year }}.</h4>
    {% else %}
    <h4> There do not appear to have been any fish stocked in {{ year}}.</h4>
    {% endif %}

    {% endif %}

</div>


<!-- tablesorter plugin-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.17.7/js/jquery.tablesorter.js"></script>

<!-- tablesorter widget file - loaded after the plugin -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.17.7/js/jquery.tablesorter.widgets.js"></script>


{% include "fsis2/_doc_ready.html" %}



{% endblock %}
