{% extends "fsis2/fsis2_base.html" %}

{% block extrahead %}

{% load geojson_tags %}
{% load leaflet_tags %}

{% leaflet_js %}
{% leaflet_css %}


{% endblock %}

{% block title %}    CWTs stocked in {{ mu }} {% endblock %}

{% block content %}
{% load fsis2_filters %}
{% load humanize %}


<div class="container">

<div class="alert alert-danger" role="alert">
    Species is not currently used to limit results.
    Interpret these results with caution!
</div>

    <h2> Recoveries of CWTS stocked in: {{ mu }} </h2>

    <div id="main_map" style="width: 800px; height: 700px;"></div>

  <hr />


  <ul class="nav nav-tabs">
    <li><a href="#cwts" data-toggle="tab">CWT Information</a></li>
    <li><a href="#recoveries" data-toggle="tab">Recoveries</a></li>
    <li><a href="#stocking_events" data-toggle="tab">StockingEvents</a></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="cwts">
      {% if cwts %}
      <h3>CWT Numbers:</h3>
      <table id="myTable" class="table tablesorter table-striped">
        <thead>
          <tr>
            <td>Tag Number</td>
            <td>Year Class</td>
            <td>Stocking Year</td>
            <td>Species </td>
            <td>Strain </td>
            <td>Lifestage </td>
            <td>Agency</td>
            <td>Stocking Location </td>
            <td>Recovery Count </td>
          </tr>
        </thead>
        <tbody>
          {% for cwt in cwts %}
          <tr>
            <td> <a href="{% url 'cwt_detail' cwt.cwt %}"> {{ cwt }} </a> </td>
            <td>{{ cwt.year_class }} </td>
            <td>{{ cwt.stock_year }} </td>
            <td>{{ cwt.spc.common_name }} </td>
            <td>{{ cwt.get_strain_display }} </td>
            <td>{{ cwt.get_development_stage_display }} </td>
            <td>{{ cwt.agency }} </td>
            <td>{{ cwt.plant_site|title }} </td>
            <td>{{ cwt.recovery_count }} </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <p>No cwts have been stocked in {{ mu }}. </p>
      {% endif %}

    </div>

    <div class="tab-pane" id="recoveries">
      <h3>Recoveries: (n= {{ recoveries.count }})</h3>
      {% if recoveries %}
      <table id="myTable" class="table tablesorter">
        <thead><tr>
            <td>CWT</td>
            <td>Year</td>
            <td>Source</td>
            <td>Recovery Date</td>
            <td>5-Minute Grid</td>
            <td>Project Key</td>
            <td>Species</td>
            <td>Fork Length(mm)</td>
            <td>Age</td></tr>
        </thead>
        <tbody>
          {% for recovery in recoveries %}
          <tr class="{% cycle row1,row2 %}">
            <td> <a href="{% url 'cwt_detail' recovery.cwt %}"> {{ recovery.cwt|format_cwt }} </a> </td>
            <td> {{ recovery.recovery_year }} </td>
            <td> {{ recovery.get_recovery_source_display }} </td>
            <td> {{ recovery.recovery_date|date }} </td>
            <td> {{ recovery.recovery_grid }} </td>
            <td> {{ recovery.composite_key }} </td>
            <td> {{ recovery.spc.common_name }} </td>
            <td> {{ recovery.flen }} </td>
            <td> {{ recovery.age }} </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <p>No tag recovered in {{ mu }}</p>
      {% endif %}
    </div>

    <div class="tab-pane" id="stocking_events">
      <h3>Stocking Events (n={{ events.count }}):</h3>
      {% if events %}
      <table id="myTable" class="table tablesorter">
        <thead><tr><td>FSIS Event</td><td>Species</td><td>Strain</td>
            <td>Number Stocked</td> <td>Event Date</td>
            <td>Site Name</td><td>Clip Applied</td> <td>Development Stage</td></tr>
        </thead>
        <tbody>
          {% for event in events %}
          <tr class="{% cycle row1,row2 %}">
            <td> <a href="{% url 'event_detail' event.id %}">{{event.fs_event }}</a> </td>
            <td> {{ event.lot.species.common_name }} </td>
            <td> {{ event.lot.strain.strain_name }} </td>
            <td> {{ event.stkcnt|intcomma }} </td>
            <td> {{ event.event_date|date }} </td>
            <td> {{ event.site.site_name }} </td>
            <td> {{ event.clipa }} </td>
            <td> {{ event.get_development_stage_display }} </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <p>No Ontario Stocking events in {{ mu }}</p>
      {% endif %}
    </div>
  </div>

</div>


{% include 'fsis2/_doc_ready_simple_map.html '%}
{% include 'fsis2/_table_sorter.html '%}

<script type="text/javascript">
  $('#myTab a').click(function (e) {
  e.preventDefault()
  $(this).tab('show')
  })
</script>


{% endblock %}
