{% extends "fsis2/fsis2_base.html" %}

{% block extrahead %}
{{ map.media }}
<!-- tablesorter plugin -->
<script src="{{ STATIC_URL }}js/jquery.tablesorter.js"></script>
<!-- tablesorter widget file - loaded after the plugin -->
<script src="{{ STATIC_URL }}js/jquery.tablesorter.widgets.js"></script>
{% endblock %}

{% block title %} {{ object.title  }}  {% endblock %}

{% block content %}
{% load humanize %}


<div class="container">

  <div class="row">
    <h2> QMA: {{ qma }} </h2>

    <div class="col-md-3">
      <h3>CWT Numbers:</h3>
      {% for cwt in cwts %}
      <p>{{ cwt }}</p>
      {% endfor %}
    </div>

    <div class="col-md-9">
      {{ map }}
    </div>

  </div>


  <h3>Recoveries:</h3>
  {% if recoveries %}
    <table id="myTable" class="table tablesorter">
      <thead><tr>
          <td>Year</td>
          <td>Source</td>
          <td>Recovery Date</td>
          <td>5-Minute Grid</td>
          <td>Project Key</td>
          <td>Species</td>
          <td>Fork Length(mm)</td>
          <td>Age</td></tr>
      </thead>
      <tbody>
        {% for recovery in recoveries %}
        <tr class="{% cycle row1,row2 %}">
          <td> {{ recovery.recovery_year }} </td>
          <td> {{ recovery.get_recovery_source_display }} </td>
          <td> {{ recovery.recovery_date|date }} </td>
          <td> {{ recovery.recovery_grid }} </td>
          <td> {{ recovery.composite_key }} </td>
          <td> {{ recovery.spc.common_name }} </td>
          <td> {{ recovery.flen }} </td>
          <td> {{ recovery.age }} </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No tag recovered in {{ qma }}</p>
  {% endif %}


  <h3>Ontario Stocking Events:</h3>

  {% if events %}
    <table id="myTable" class="table tablesorter">
      <thead><tr><td>FSIS Event</td><td>Species</td><td>Strain</td>
          <td>Number Stocked</td> <td>Event Date</td>
          <td>Site Name</td><td>Clip Applied</td> <td>Development Stage</td></tr>
      </thead>
      <tbody>
        {% for event in events %}
        <tr class="{% cycle row1,row2 %}">
          <td> <a href="{% url 'event_detail' event.id %}">{{event.fs_event }}</a> </td>
          <td> {{ event.lot.species.common_name }} </td>
          <td> {{ event.lot.strain.strain_name }} </td>
          <td> {{ event.stkcnt|intcomma }} </td>
          <td> {{ event.event_date|date }} </td>
          <td> {{ event.site.site_name }} </td>
          <td> {{ event.clipa }} </td>
          <td> {{ event.get_development_stage_display }} </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No OMNR tags recovered in {{ qma }}</p>
  {% endif %}


  <h3>US Stocking Events:</h3>

  {% if US_events %}
    <table id="myTable" class="table tablesorter">
      <thead><tr><td>Species</td> <td>Strain</td>
          <td>Year Class</td><td>Tag Count</td>
          <td>Plant Site</td><td>U.S. Grid</td><td>Agency</td><td>Clip</td>
          <td>Development Stage</td></tr>
      </thead>
        <tbody>
          {% for event in US_events %}
          <tr class="{% cycle row1,row2 %}">
            <td> {{ event.spc.common_name }} </td>
            <td> {{ event.get_strain_display }} </td>
            <td> {{ event.year_class }} </td>
            <td> {{ event.tag_cnt|intcomma }} </td>
            <td> {{ event.plant_site }} </td>
            <td> {{ event.us_grid_no }} </td>
            <td> {{ event.agency}} </td>
            <td> {{ event.clipa }} </td>
            <td> {{ event.get_development_stage_display }} </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
  {% else %}
    <p>No US tags recovered in {{ qma }}</p>
  {% endif %}


  </div>


</div>

<script type="text/javascript">
  $(".tablesorter").tablesorter({
  theme: 'bootstrap',
  widthFixed: true,
  showProcessing: true,
  headerTemplate: '{content} {icon}',
  widgets: ['zebra', 'uitheme', 'scroller'],
  widgetOptions: {
  scroller_height: 300,
  scroller_barWidth: 17,
  scroller_jumpToHeader: true,
  scroller_idPrefix: 's_'
  }
  });
</script>

<script type="text/javascript">
  $('#myTab a').click(function (e) {
    e.preventDefault()
    $(this).tab('show')
  })
</script>


{% endblock %}
