{% extends "fsis2/fsis2_base.html" %}

{% block extrahead %}
{{ map.media }}
<!-- tablesorter plugin -->
<script src="{{ STATIC_URL }}js/jquery.tablesorter.js"></script>
<!-- tablesorter widget file - loaded after the plugin -->
<script src="{{ STATIC_URL }}js/jquery.tablesorter.widgets.js"></script> 
{% endblock %}

{% block title %} {{ object.title  }}  {% endblock %}

{% block content %}
{% load humanize %}


<div class="container">

  <div class="row">
      <h2> CWT Number: {{ cwt }} </h2>

      <div class="col-md-5">
        <ul class="nav nav-tabs">
          <li><a href="#details" data-toggle="tab">Details</a></li>
          <li><a href="#ageatcapture" data-toggle="tab">Age At Capture</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="details">
            <table class="table">        
              <tr>
                <td>  <b>Species:</b></td>
                <td> {{ cwt.spc.common_name }}
                  (<em>{{cwt.spc.scientific_name}}</em>) </td>
              </tr>
              <tr>
                <td>  <b>Strain:</b></td>
                <td> {{ cwt.get_strain_display }} ({{ cwt.strain }})</td>
              </tr>
              <tr>
                <td>  <b>Year Class:</b></td>
                <td> {{ cwt.year_class }} </td>
              </tr>
              <tr>
                <td>  <b>Stocking Year:</b></td>
                <td> {{ cwt.stock_year }} </td>
              </tr>
              <tr>
                <td>  <b>Life Stage:</b></td>
                <td> {{ cwt.get_development_stage_display }} </td>
              </tr>
              <tr>
                <td>  <b>Clip Applied:</b></td>
                <td> {{ cwt.clipa }} </td>
              </tr>
              <tr>
                <td>  <b>Stocking Location:</b></td>
                <td> {{ cwt.plant_site|title }} </td>
              </tr>
              <tr>
                <td>  <b>LTRZ:</b></td>
                <td> {{ cwt.get_ltrz_display }} ({{ cwt.ltrz }}) </td>
              </tr>
              <tr>
                <td>  <b>Tag Count:</b></td>
                <td> {{ cwt.tag_cnt|intcomma }} </td>
              </tr>
              <tr>
                <td>  <b>Agency:</b></td>
                <td> {{ cwt.agency }} </td>
              </tr>
              <tr>
                <td>  <b>Hatchery:</b></td>
                <td> {{ cwt.hatchery }} </td>
              </tr>
              <tr>
                <td>  <b>Tag Manufacturer:</b></td>
                <td> {{ cwt.get_cwt_mfr_display }} </td>
              </tr>
              <tr>
                <td>  <b>Tag Type:</b></td>
                <td> {{ cwt.get_tag_type_display }} </td>
              </tr>

              {% if cwt.tag_type == 17 %}
              <tr>
                <td>  <b>Sequence Range:</b></td>
                <td> {{ cwt.seq_start|intcomma }} - {{ cwt.seq_end|intcomma }} </td>
              </tr>
              {% endif %}

              <tr>
                <td>  <b>CWT Reused:</b></td>
                <td> {{ cwt.cwt_reused }} </td>
              </tr>
              <tr>
                <td>  <b>Comments:</b></td>
                <td> {{ cwt.comments }} </td>
              </tr>
            </table>
          </div>
          <div class="tab-pane" id="ageatcapture">
            {% if aac %}
            <table class="table">        
              <tr>
                <td>  <b>Year of Capture</b></td>
                <td> <b>Age</b></td>
              </tr>
              {% for yr in aac %}
              <tr>
                <td>{{ yr.1 }} </td><td> {{ yr.0}} </td>
              </tr>
              {% endfor %}
            </table>
            {% else %}
            <p>Age at capture is not currently available for cwt.cwt.</p>
            {% endif %}
          </div>
        </div>        
    </div>
    <div class="col-md-7">
      {{ map }}
    </div>
  </div>

  <div id="event_list" class="row">
    <hr />  
    <h3>Stocking Events: </h3>
    {% if event_list %}  
    <table id="myTable" class="table tablesorter">
      <thead><tr><td>FSIS Event</td><td>Number Stocked</td> <td>Event Date</td>
          <td>Site Name</td><td>Clip Applied</td> <td>Development Stage</td></tr>
      </thead>
      <tbody>
        {% for event in event_list %}
        <tr class="{% cycle row1,row2 %}">
          <td> <a href="{% url 'event_detail' event.id %}">{{ event.fs_event }}</a> </td>
          <td> {{ event.stkcnt|intcomma }} </td> 
          <td> {{ event.event_date|date }} </td>
          <td> {{ event.site.site_name }} </td> 
          <td> {{ event.clipa }} </td> 
          <td> {{ event.get_development_stage_display }} </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
      {% ifequal cwt.agency "OMNR" %} 
    <div class="alert alert-danger">
      <p>There are no Ontario stocking events associated with cwt {{ cwt }}.   According the the Agency code there should be. </p>
    </div>
      {% else %}
      <p>There are no Ontario stocking events associated with cwt {{ cwt }}. </p>
      {% endifequal %}
    {% endif %}    
  </div>

  <div id="recovery_list" class="row">
    <hr />  
    <h3>Recoveries: {% if recovery_list %} (n = {{ recovery_list.count }}) {% endif %}</h3>
    {% if recovery_list %}  
    <table id="myTable" class="table tablesorter">
      <thead><tr><td>Year</td><td>Source</td> 
          <td>Recovery Date</td><td>5-Minute Grid</td>
          <td>Project Key</td><td>Fork Length(mm)</td> <td>Age</td></tr>
      </thead>
      <tbody>
        {% for recovery in recovery_list %}
        <tr class="{% cycle row1,row2 %}">
          <td> {{ recovery.recovery_year }} </td> 
          <td> {{ recovery.get_recovery_source_display }} </td> 
          <td> {{ recovery.recovery_date|date }} </td>
          <td> {{ recovery.recovery_grid }} </td>
          <td> {{ recovery.composite_key }} </td> 
          <td> {{ recovery.flen }} </td> 
          <td> {{ recovery.age }} </td> 
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <p>This cwt has not been recovered (yet)</p>
    {% endif %}    
  </div>




</div>

<script type="text/javascript">
  $(".tablesorter").tablesorter({
  theme: 'bootstrap',
  widthFixed: true,
  showProcessing: true,
  headerTemplate: '{content} {icon}',
  widgets: ['zebra', 'uitheme', 'scroller'],
  widgetOptions: {
  scroller_height: 300,
  scroller_barWidth: 17,
  scroller_jumpToHeader: true,
  scroller_idPrefix: 's_'
  }
  });
</script>

<script type="text/javascript">
  $('#myTab a').click(function (e) {
    e.preventDefault()
    $(this).tab('show')
  })
</script>


{% endblock %}
