{% extends "fsis2/fsis2_base.html" %}

{% load leaflet_tags %}

{% block extrahead %}


{% leaflet_js plugins="forms" %}
{% leaflet_css plugins="forms" %}


{% endblock %}

{% block content %}
{% load humanize %}
{% load fsis2_filters %}


<style>

    .leaflet-container {  /* all maps */
        width:  600px;
        height: 600px;
    }

</style>

  <div class="row well">
    <form method="post" id="" action="">{% csrf_token %}
      <div class="row">
        <div class="col-md-7">
          {{ form.selection }}
        </div>
        <div class="col-md-5">
          <div class="panel panel-default">
            <div class="panel-body">
          <h4>Select Species:</h4>
          <p>(leave blank for all species)</p>
          {{ form.species }}
            </div>
          </div>
          {% if what == "sites" %}
          <a href="{% url 'find_sites' %}" class="btn btn-default">Reset</a>
          {% else %}
          <a href="{% url 'find_events' %}" class="btn btn-default">Reset</a>
          {% endif %}
          <button type="submit" class="btn  btn-success">Submit</button>

        </div>
      </div>
    </form>
  </div>



<!-- tablesorter plugin-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.17.7/js/jquery.tablesorter.js"></script>

<!-- tablesorter widget file - loaded after the plugin -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.17.7/js/jquery.tablesorter.widgets.js"></script>


<script type="text/javascript">

  $(".tablesorter").tablesorter({
  theme: 'bootstrap',
  widthFixed: true,
  showProcessing: true,
  headerTemplate: '{content} {icon}',
  widgets: ['zebra', 'uitheme', 'scroller'],
  widgetOptions: {
  scroller_height: 300,
  scroller_barWidth: 17,
  scroller_jumpToHeader: true,
  scroller_idPrefix: 's_'
  }
  });

</script>



{% endblock %}
