{% extends "fsis2/fsis2_base.html" %}

<!-- {% block pages %}


{% endblock %}
-->

{% block extrahead %} 

{{ form.media }}

<!-- tablesorter plugin -->
<script src="{{ STATIC_URL }}js/jquery.tablesorter.js"></script>
<!-- tablesorter widget file - loaded after the plugin -->
<script src="{{ STATIC_URL }}js/jquery.tablesorter.widgets.js"></script>


{% endblock %}


{% block content %}

{% load humanize %}
{% load fsis2_filters %}

<div class="container">

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <form method="post" id="" action="">{% csrf_token %}
        {{ form }}
        <div class="row col-md-8 col-md-offset-2">
        <a href="{% url 'find_events' %}" class="btn btn-default pull-right">Reset</a>
        <button type="submit" class="btn btn-default pull-right">Submit</button>          
        </div>
      </form>    
    </div>
  </div>

  {% if object_list %}

<br />
<h4>{{ object_list|length }} events found.</h4>
<br />

  <table id="myTable" class="table tablesorter">
    <thead><tr>
        <td>FSIS Event</td>
        <td>Species</td>
        <td>Strain</td>
        <td>Number Stocked</td> 
        <td>Event Date</td>
        <td>Site Name</td>
        <td>Clip Applied</td> 
        <td>Development Stage</td></tr>
    </thead>
    <tbody>
      {% for event in object_list %}
      <tr class="{% cycle row1,row2 %}">
        <td> <a href="{% url 'event_detail'  event.id  %}">{{ event.fs_event }}</a> </td>
        <td> {{ event.lot.species.common_name | title }} </td> 
        <td> {{ event.lot.strain.strain_name | title }} </td> 
        <td> {{ event.stkcnt|intcomma }} </td> 
        <td> {{ event.event_date|date }} </td>
        <td> {{ event.site.site_name }} </td> 
        <td> {{ event.clipa }} </td> 
        <td> {{ event.get_development_stage_display }} </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  {% else %}
  <p>Sorry no events match that criteria.</p>
  {% endif %}

</div>

<script type="text/javascript">

  $(".tablesorter").tablesorter({
  theme: 'bootstrap',
  widthFixed: true,
  showProcessing: true,
  headerTemplate: '{content} {icon}',
  widgets: ['zebra', 'uitheme', 'scroller'],
  widgetOptions: {
  scroller_height: 300,
  scroller_barWidth: 17,
  scroller_jumpToHeader: true,
  scroller_idPrefix: 's_'
  }
  });

</script>



{% endblock %}


