<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>  {% block title  %} FSIS II  {% endblock %}  </title>

    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

     <style type="text/css" media="screen">
      #map {
       width: 600px;
       float: right;
      }

    </style>

    {% block extrahead %}
    {% endblock %}

  </head>

  <body>

    <style type="text/css" media="screen">
      .navbar-inverse .nav li.dropdown.open > .dropdown-toggle,
      .navbar-inverse .nav li.dropdown.active > .dropdown-toggle,
      .navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle,
      .navbar,
      .navbar-inverse .navbar-inner {
      filter: none;
      background-image: none;
      }
    </style>

    <header class="navbar navbar-default" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url 'lot_list' %}">FSIS-II</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
          <li><a href="{% url 'lot_list' %}">Fish Lots</a> </li>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Stocking Events<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="{% url 'event_list' %}">Events</a> </li>
              <li class="divider"></li>
              <li><a href="#">Enter New Event</a>  </li>
              <li><a href="#">Edit Event</a> </li>
              <li><a href="#">Approve Events</a> </li>
              <li class="divider"></li>
              <li><a href="{% url 'find_events' %}">Find by Location</a>  </li>

            </ul>
          </li>

          <li class="dropdown">
            <a href="#"class="dropdown-toggle" data-toggle="dropdown">Stocking Sites<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="{% url 'site_list' %}">Stocking Sites</a>  </li>
              <li class="divider"></li>
              <li><a href="{% url 'find_sites' %}">Find by Region</a> </li>
              <li><a href="#">Find Closest Site</a> </li>
              <li class="divider"></li>
              <li><a href="#">Add New Stocking Site</a> </li>
            </ul>
          </li>

          <li class="dropdown">
            <a href="#"class="dropdown-toggle" data-toggle="dropdown">CWTS<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="{% url 'cwt_list' %}">CWT List</a>  </li>
              <li class="divider"></li>
              <li><a href="{% url 'mu_list' %}">By Mgt. Unit</a> </li>
              <li><a href="#">By by Region</a> </li>
            </ul>
          </li>

          <li class="dropdown">
            <a href="#"class="dropdown-toggle" data-toggle="dropdown">Summaries<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="{% url 'hatchery_list' %}">By Hatchery</a>  </li>
              <li><a href="{% url 'species_list' %}">By Species</a> </li>
              <li><a href="#">D. Reid Spreadsheet</a> </li>
            </ul>
          </li>

          {% block navbar_other_apps %}
          {% endblock %}

         {% if user.is_staff %}
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="{% url 'change_password' %}">Change Password</a></li>

              <li><a href="{% url 'admin:index' %}">Django Admin</a></li>

              {% if user.is_superuser %}
              <li><a href="{% url 'password_reset' %}">Reset Password</a></li>
              {% endif %}
            </ul>
          </li>
        {% endif %}
        </ul>

        {% if user.is_authenticated %}
        <p class="navbar-text">Welcome
          {% if user.first_name %}
          {{ user.first_name }}!
          {% else %}
          {{ user.username }}!
          {% endif %} </p>
        <p class="navbar-text"><a href="{% url 'logout' %}?next=/">Logout</a> </p>
        {% else %}
        <p class="navbar-text"><a href="{% url 'login' %}">Login</a> </p>
        {% endif %}
      </div><!-- /.navbar-collapse -->
    </header>

    <div id="messages">
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-{{message.tags}}">
            <a class="close" data-dismiss="alert">×</a>
            {{message}}
          </div>
        {% endfor %}
      {% endif %}
    </div>

    <div class="container">
    {% block header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    </div> <!-- /container -->

    {% block footer %}
    {% if footer %}
    <hr />
    <div id="footer">
      <div class="container well ">
        <center>
        <p class="muted credit">{{ footer }}.</p>
        </center>
      </div>
    </div>
    {% endif %}
    {% endblock %}



  </body>
</html>
