{% extends "fsis2/fsis2_base.html" %}

<!-- {% block pages %}


{% endblock %}
-->

{% load humanize %}

{% block content %}
<div class="container">

{% if object_list %}
    <h4>Stocking events associated with {{ proponent.proponent_name}} ({{ proponent.abbrev}}) in {{ year}}:</h4>

    {% regroup object_list by lot.species as species_list %}

    {% for species in species_list %}
    <h3>{{ species.grouper }} (N={{ species.list|length }})</h3>

    <table id="myTable {{ species.grouper }}" class="table tablesorter">
        <thead><tr>
            <td>FSIS Event</td>
            <td>Species</td>
            <td>Strain</td>
            <td>Number Stocked</td>
            <td>Event Date</td>
            <td>Site Name</td>
            <td>Clip Applied</td>
            <td>Development Stage</td></tr>
        </thead>
        <tbody>
            {% for event in species.list %}
            <tr class="{% cycle row1,row2 %}">
                <td> <a href="{% url 'event_detail'  event.id  %}">{{ event.fs_event }}</a> </td>
                <td> {{ event.lot.species.common_name | title }} </td>
                <td> {{ event.lot.strain.strain_name | title }} </td>
                <td> {{ event.stkcnt|intcomma }} </td>
                <td> {{ event.event_date|date }} </td>
                <td> {{ event.site.site_name }} </td>
                <td> {{ event.clipa }} </td>
                <td> {{ event.get_development_stage_display }} </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endfor %}

{% else %}

   <h4> {{ proponent.proponent_name}} ({{ proponent.abbrev}}) did not stock any fish in {{ year}}.</h4>

{% endif %}

</div>



<!-- tablesorter plugin-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.17.7/js/jquery.tablesorter.js"></script>

<!-- tablesorter widget file - loaded after the plugin -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.17.7/js/jquery.tablesorter.widgets.js"></script>


<script type="text/javascript">

  $(".tablesorter").tablesorter({
  theme: 'bootstrap',
  widthFixed: true,
  showProcessing: true,
  headerTemplate: '{content} {icon}',
  widgets: ['zebra', 'uitheme', 'scroller'],
  widgetOptions: {
  scroller_height: 300,
  scroller_barWidth: 17,
  scroller_jumpToHeader: true,
  scroller_idPrefix: 's_'
  }
  });

</script>



{% endblock %}
