{% extends "fsis2/fsis2_base.html" %}


{% block extrahead %}

  {% load geojson_tags %}
  {% load leaflet_tags %}

  {% leaflet_js %}
  {% leaflet_css %}

  <script src="/static/Leaflet.MakiMarkers.js"></script>

<style>

    #mymap {  /* all maps */
        width:  700px;
        height: 600px;
    }

    td {
        padding: 0px 10px 2px 0px;}

</style>

{% endblock extrahead %}


{% load humanize %}

{% block content %}



<script type="text/javascript">
 var events = {{ object_list|geojsonfeature:"popup_text,spc_code"|safe }};

 var rainbow = L.MakiMarkers.icon({icon: "circle", color: "#b0b", size: "s"});
 var lakeTrout = L.MakiMarkers.icon({icon: "square", color: "#0a0", size: "s"});
 var Chinook = L.MakiMarkers.icon({icon: "star", color: "#00f", size: "s"});


 function onEachFeature(feature, layer) {
    if (feature.properties && feature.properties.popup_text) {
      layer.bindPopup(feature.properties.popup_text);
    }
  }


 function map_init(map, options) {
     L.geoJson(events, {
         style: function(feature) {
             switch (feature.properties.spc_code) {
                     //bright pink
                 case 74: return {color: "#FF3399", fillColor:"#FF3399"};
                     // purple - light purple
                 case 75: return {color: "#6600CC", fillColor:"#CC99FF"};
                     // red - yellow fill
                 case 76: return {color: "#FF0000", fillColor:"#FFFF66"};
                     // orange -- orange fill
                 case 78: return {color: "#CC3300", fillColor:"#FF9933"};
                     // green -- dk green
                 case 80: return {color: "#00CC00", fillColor:"#006600"};
                     //green - yellow fill
                 case 81: return {color: "#00CC00", fillColor:"#FFFF66"};
                     // green - light green
                 case 82: return {color: "#00CC00", fillColor:"#CCFFCC"};
                     // green - bright pink
                 case 87: return {color: "#00CC00", fillColor:"#FF66CC"};
                     // red - red fill
                 case 132: return {color: "#FF0000", fillColor:"#FF0000"};
                     // blue - blue fill
                 case 316: return {color: "#0000FF", fillColor:"#0000FF"};
                     // blue -- yellow fill
                 case 334: return {color: "#0000FF", fillColor:"#FFFF00"};
                     // purple - light yellow fill
                 default: return {color: "#6600CC", fillColor:"#FFFF99"};
             }},
         pointToLayer: function(feature, latlng) {
             return new L.CircleMarker(latlng, {radius: 5, fillOpacity: 0.75});
         },
         onEachFeature: onEachFeature}).addTo(map);
 }
</script>



<div class="container">

    <h3>Stocking events associated with {{ proponent.proponent_name}} ({{ proponent.abbrev}}) in {{ year}}:</h3>



{% leaflet_map "mymap" callback="window.map_init" %}

{% if object_list %}

    {% regroup object_list by lot.species as species_list %}

    {% for species in species_list %}
    <h4>{{ species.grouper }} (N={{ species.list|length }})</h4>

    <table id="myTable {{ species.grouper }}" class="table tablesorter">
        <thead><tr>
            <td>FSIS Event</td>
            <td>Species</td>
            <td>Strain</td>
            <td>Number Stocked</td>
            <td>Event Date</td>
            <td>Site Name</td>
            <td>Clip Applied</td>
            <td>Development Stage</td></tr>
        </thead>
        <tbody>
            {% for event in species.list %}
            <tr class="{% cycle row1,row2 %}">
                <td> <a href="{% url 'event_detail'  event.id  %}">{{ event.fs_event }}</a> </td>
                <td> {{ event.lot.species.common_name | title }} </td>
                <td> {{ event.lot.strain.strain_name | title }} </td>
                <td> {{ event.stkcnt|intcomma }} </td>
                <td> {{ event.event_date|date }} </td>
                <td> {{ event.site.site_name }} </td>
                <td> {{ event.clipa }} </td>
                <td> {{ event.get_development_stage_display }} </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endfor %}

{% else %}

   <h4> {{ proponent.proponent_name}} ({{ proponent.abbrev}}) did not stock any fish in {{ year}}.</h4>

{% endif %}

</div>



<!-- tablesorter plugin-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.17.7/js/jquery.tablesorter.js"></script>

<!-- tablesorter widget file - loaded after the plugin -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.17.7/js/jquery.tablesorter.widgets.js"></script>


<script type="text/javascript">

  $(".tablesorter").tablesorter({
  theme: 'bootstrap',
  widthFixed: true,
  showProcessing: true,
  headerTemplate: '{content} {icon}',
  widgets: ['zebra', 'uitheme', 'scroller'],
  widgetOptions: {
  scroller_height: 300,
  scroller_barWidth: 17,
  scroller_jumpToHeader: true,
  scroller_idPrefix: 's_'
  }
  });

</script>



{% endblock %}
