{% extends "fsis2/fsis2_base.html" %}

<!-- {% block pages %}


{% endblock %}
-->


{% block content %}
<div class="container">

<div class="row">
<h2>Fish Hatcheries/Proponents</h2>
</div>

<br />

{% if object_list %}
<table class="table">

  {% for object in object_list %}
  {% cycle '<tr>' '' %}
    <td> <a href="{% url 'hatchery_most_recent_events' object.abbrev %}"> {{ object.proponent_name }} </a></td>
    {% cycle '' '</tr>' %}
  {% endfor %}

</table>
{% else %}
<p>Sorry no hatcheries match that criteria.</p>
{% endif %}

</div>





{% endblock %}
