{% extends "fsis2/fsis2_base.html" %}

<!-- {% block pages %}

{% endblock %}
-->

{% block extrahead %}
{{ map.media }}
{% endblock %}

{% block content %}

{% load humanize %}
{% load fsis2_filters %}

<div class="container">
  <div class="row">
    <div class="btn-group btn-group-xs">
      {% for spc in species_list %}
      {% ifequal spc.species_code 81 %}
      <div class="btn-group">
        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
          Lake Trout
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a href="{% url 'annual_stocking_events_by_spc' spc=81 year=year %}">All Lake Trout</a></li>
            {% for strain in strain_list %}
            <li> <a href="{%url 'annual_stocking_events_by_strain' spc=81 strain=strain.strain_code year=year %}"> {{ strain.strain_name }}</a> </li>
            {% endfor %}
        </ul>
      </div>
      {% else %}
      <a href="{% url 'annual_stocking_events_by_spc' spc=spc.species_code year=year%}" class="btn btn-default" role="button" > {{ spc.common_name }}</a>
      {% endifequal %}
      {% endfor %}
    </div>
  </div>

  <br />
  <div class="row">
    <div class="col-md-3">

      <heading>
        <h4> {{ year }} - {{ strain }} {{species}}</h4>
        <heading>
          <br />

          <table class="table table-striped">

            {% for yr in year_list %}
            {% cycle '<tr>' '' '' %}
              {% if strain %}
              <td><a href="{%url 'annual_stocking_events_by_strain' spc=81 strain=strain_code year=yr %}" class="btn btn-default btn-xs" role="button"> {{ yr }} </a></td>
              {% else %}
              <td><a href="{%url 'annual_stocking_events_by_spc' spc=species.species_code year=yr %}" class="btn btn-default btn-xs" role="button">  {{ yr }} </a></td>
              {% endif %}
              {% cycle '' '' '</tr>' %}
            {% endfor %}
          </table>

          <br />
          <table class="table table-striped">
            <tr>
              <td>North Channel:</td>
              <td>{{ basin_totals.northchannel|intcomma|default:0 }}</td>
            </tr>

            <tr>
              <td>Georgian Bay:</td>
              <td>{{ basin_totals.georgianbay|intcomma|default:0 }}</td>
            </tr>

            <tr>
              <td>Main Basin:</td>
              <td>{{ basin_totals.mainbasin|intcomma|default:0 }}</td>
            </tr>

            <tr>
              <td><strong>Total:</strong></td>
              <td><strong>{{ basin_totals.total|intcomma|default:0 }}</strong></td>
            </tr>


          </table>


    </div>

    <div class="col-md-9">
      {% if map %}
      {{ map }}
      {% else %}
      <h3>Sorry no events match that criteria.</h3>
      {% endif %}
    </div>
  </div>

<br />

  <div class="row">
      {% if object_list %}
      <table class="table tablesorter">
        <thead><tr><td>FSIS Event</td><td>Number Stocked</td> <td>Event Date</td>
            <td>Site Name</td><td>Clip Applied</td> <td>Development
              Stage</td> <td>Proponent</td></tr>
        </thead>
        <tbody>
          {% for event in object_list %}
          <tr class="{% cycle row1,row2 %}">
            <td> <a href="{% url 'event_detail' event.id %}">{{ event.fs_event }}</a> </td>
            <td> {{ event.stkcnt|intcomma }} </td>
            {% if event.event_date %}
              <td> {{ event.event_date|date }} </td>
            {% else %}
              <td> {{ event.year }} </td>
            {% endif %}
            <td> {{ event.site.site_name }} </td>
            <td> {{ event.clipa }} </td>
            <td> {{ event.get_development_stage_display }} </td>
            <td> {{ event.lot.proponent.proponent_name|title }} </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% endif %}
    </div>

</center>

</div>   <!-- container -->


<!-- tablesorter plugin-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.17.7/js/jquery.tablesorter.js"></script>

<!-- tablesorter widget file - loaded after the plugin -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.17.7/js/jquery.tablesorter.widgets.js"></script>

<script type="text/javascript">
  $(".tablesorter").tablesorter({
  theme: 'bootstrap',
  widthFixed: true,
  showProcessing: true,
  headerTemplate: '{content} {icon}',
  widgets: ['zebra', 'uitheme', 'scroller'],
  widgetOptions: {
  scroller_height: 300,
  scroller_barWidth: 17,
  scroller_jumpToHeader: true,
  scroller_idPrefix: 's_'
  }
  });
</script>


{% endblock %}
