{% extends "auth/auth_base.html" %}
{% load i18n %}

{% block title %}{% trans "Password recovery" %}{% endblock %}

{% block content %}

<div id="Recover User's Password">
  <div class="row top-buffer">
    <!-- Alignment -->
    <div class="col-sm-offset-3 col-sm-5">

      <!-- Form itself -->
      <form method="POST" class="well" id="password_recovery">
        {% csrf_token %}
        <legend>Password Recovery - II</legend>

        {% if form.errors %}
        <div class="alert alert-danger">
          <button type="button" class="close" data-dismiss="alert">x</button>
          <ul>
            {% for error in form.errors.values %}
            <li>{{ error|striptags }}</li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}

        <!-- Full Name -->
        <div class="form-group">
          <div class="controls">

            <input type="text" class="form-control" name="username_or_email"
                   placeholder="username or e-mail" id="id_username_or_email" required
                   data-validation-required-message="Please enter your username or e-mail" />
            <p class="help-block"></p>
          </div>
        </div>
        <button type="submit" class="btn btn-primary pull-right">Recover my password</button><br />
      </form>
    </div>
  </div>
</div>

{% endblock %}
