{% extends "fsis2/fsis2_base.html" %}

<!-- {% block pages %}


{% endblock %}
-->


{% block content %}
<div class="container">

<h3>CWTs Stocked and Recovered by Management Area</h3>


<ul class="nav nav-tabs" role="tablist">
  {% for lake, lake_dict in object_list.items %}
    {% if forloop.first %}
    <li class="active"><a href="#{{ lake|slugify }}" role="tab" data-toggle="tab">{{ lake }}</a></li>
    {% else %}
    <li><a href="#{{ lake|slugify }}" role="tab" data-toggle="tab">{{ lake }}</a></li>
    {% endif %}
  {% endfor %}
</ul>

<div class="tab-content">

  {% for lake, lake_dict in object_list.items %}
    {% if forloop.first %}
      <div class="tab-pane active" id="{{ lake|slugify }}">
    {% else %}
      <div class="tab-pane" id="{{ lake|slugify }}">
    {% endif %}
    <br />

    {% if lake_dict %}
      {% for mu_type, mu_dict in lake_dict.items %}
        <div class="panel-group" id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion"
                   href="#{{ lake|slugify }}{{ mu_type|slugify }}">
                  {{ mu_type }}s
                </a>
              </h4>
            </div>
            <div id="{{ lake|slugify }}{{ mu_type|slugify }}" class="panel-collapse collapse">
              <div class="panel-body">
               <table class="table">
                 <thead><tr><td>CWTs Stocked in: </td><td>CWTs Recovered in:</td></tr>
                 </thead>
                 {% for mu in mu_dict %}
                 <tr>
                   <td>
                     <a href="{% url 'cwt_stocked_mu' mu.slug %}"> {{ mu.label }}</a>
                   </td>
                   <td>
                     <a href="{% url 'cwt_recovered_mu' mu.slug %}"> {{ mu.label }}</a>
                   </td>
                 </tr>
                 {% endfor %}
               </table>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    {% else %}
      {{ lake }} does not appear to have any pre-defined Management Units available.
    {% endif %}
  </div> <!-- tab-pane-->
  {% endfor %}
</div>  <!-- tab-content-->





<script type="text/javascript">
  $('#myTab a').click(function (e) {
    e.preventDefault()
    $(this).tab('show')
  })
</script>


{% endblock %}
