{% extends "fsis2/fsis2_base.html" %}

{% block extrahead %} 

<!-- tablesorter plugin -->
<script src="{{ STATIC_URL }}js/jquery.tablesorter.js"></script>
<!-- tablesorter widget file - loaded after the plugin -->
<script src="{{ STATIC_URL }}js/jquery.tablesorter.widgets.js"></script>
 
{% endblock %}


{% block content %}

{% load humanize %}
{% load fsis2_filters %}


<div class="contaier">
  

  <h2>Total Annual Stocking of {{species}} by Proponent</h2>

  <div class="row">
    <div class="btn-group btn-group-xs">
      {% for spc in species_list %}
      <a href="{% url 'annual_total_spc' spc.species_code %}" class="btn btn-default" role="button" > {{ spc.common_name }}</a>
      {% endfor %}
    </div>
  </div>

  <br />

  {% ifequal species.species_code 81 %}
  <div class="row">
    <div class="btn-group btn-group-xs">
      {% for strain in strain_list %}
      <a href="#" class="btn btn-default" role="button" >  {{ strain.strain_name }}</a>
      {% endfor %}
    </div>
  </div>
  <br />
  {% endifequal %}

  {% if object_list %}
  <table class="tablesorter">
    <thead><tr>
        <td>Year</td>
        <td>Proponent</td>
        <td>Total</td>
    </thead>
    <tbody>
      {% for row in object_list %}
      <tr class="{% cycle row1,row2 %}">
        <td> <a href="{% url 'annual_stocking_events_by_spc' spc=species.species_code  year=row.lot__event__prj_cd|prj_cd_Year %}">
            {{row.lot__event__prj_cd | prj_cd_Year}} </a> </td> 
        <td> {{ row.proponent_name | title }} </td> 
        <td> {% if row.total %} 
          {{ row.total|intcomma }} 
          {% else %} 
          0
          {% endif%}</td> 
      </tr>
      {% endfor %}
    </tbody>
  </table>

  {% else %}
  <p>Sorry no events match that criteria.</p>
  {% endif %}

</div>

<script type="text/javascript">

  $(".tablesorter").tablesorter({
  theme: 'bootstrap',
  widthFixed: true,
  showProcessing: true,
  headerTemplate: '{content} {icon}',
  widgets: ['zebra', 'uitheme', 'scroller'],
  widgetOptions: {
  scroller_height: 300,
  scroller_barWidth: 17,
  scroller_jumpToHeader: true,
  scroller_idPrefix: 's_'
  }
  });

</script>



{% endblock %}


