{% extends "fsis2/fsis2_base.html" %}

<!-- {% block pages %}


{% endblock %}
-->

{% block extrahead %} 
    {{ map.media }}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}themeblue.css" /> 
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}tablesorter.css" /> 
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.tablesorter.js"></script> 
{% endblock %}


{% block content %}

{% load humanize %}
{% load fsis2_filters %}

<h2>{% if year %} {{ year|date:'Y' }}  {% endif %}Stocking Events {% if cwt %} associated with cwt {{ cwt|format_cwt }} {% endif %}</h2>

<span>|
<a href="{% url 'event_year_list' 2012 %}">2012</a> |
<a href="{% url 'event_year_list' 2011 %}">2011</a> |
<a href="{% url 'event_year_list' 2010 %}">2010</a> |
<a href="{% url 'event_year_list' 2009 %}">2009</a> |
<a href="{% url 'event_year_list' 2008 %}">2008</a> |
<a href="#">Older</a> 
|</span>


{% if page_obj %} 
{% if page_obj.paginator.num_pages > 1 %}  
<ul class="pager">
    {% if page_obj.has_previous %}
    <li class="previous"><a href="?page={{ page_obj.previous_page_number }}">Newer Events</a></li>
    {% else %}
    <li class="previous disabled"><a href="#">Newer Events</a></li>
    {% endif %}

    <span class="page-current">
       Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
    </span>

    {% if page_obj.has_next %}
    <li class="next"><a href="?page={{ page_obj.next_page_number }}">Older Events</a></li>
    {% else %}
    <li class="next disabled"><a href="#">Older Events</a></li>
    {% endif %}
</ul>
{% else %}
  <br />
{% endif %}
{% endif %}

  {% if object_list %}

  <table id="myTable" class="tablesorter-blue">
    <thead><tr>
        <td>FSIS Event</td>
        <td>Species</td>
        <td>Strain</td>
        <td>Number Stocked</td> 
        <td>Event Date</td>
        <td>Site Name</td>
        <td>Clip Applied</td> 
        <td>Development Stage</td></tr>
    </thead>
  <tbody>
  {% for event in object_list %}
    <tr class="{% cycle row1,row2 %}">
        <td> <a href="{% url 'event_detail'  event.id  %}">{{ event.fs_event }}</a> </td>
        <td> {{ event.lot.species.common_name | title }} </td> 
        <td> {{ event.lot.strain.strain_name | title }} </td> 
        <td> {{ event.stkcnt|intcomma }} </td> 
        <td> {{ event.event_date|date }} </td>
        <td> {{ event.site.site_name }} </td> 
        <td> {{ event.clipa }} </td> 
        <td> {{ event.get_development_stage_display }} </td>
    </tr>
  {% endfor %}
  </tbody>
  </table>



  {% else %}
    <p>Sorry no events match that criteria.</p>
  {% endif %}



{% if cwt %} 
<div id="outer" style="width:800px;" >
  <div id="map">
     {{ map }}
  </div>
</div> 
{% endif %}





{% endblock %}


