{% extends "fsis2/fsis2_base.html" %}

{% block extrahead %}
    {{ map.media }}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}themeblue.css" /> 
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}tablesorter.css" /> 
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.tablesorter.js"></script> 
{% endblock %}

{% block title %} {{ object.title  }}  {% endblock %}

{% block header %} 

<h2> FSIS Event: {{ object.fs_event }} </h2>
<hr />
{% endblock %}

{% block content %}

{% load humanize %}
{% load fsis2_filters %}

  <div id="map">
    {{ map }}
  </div>

  <div id="info">

  <p>  <b>FSIS Event Number:</b> {{ object.fs_event }} </p>
  <p>  <b>FSIS Lot Number:</b> <a href="{% url 'lot_detail' object.lot.id %}">{{ object.lot.fs_lot }}</a> </p>
  <p>  <b>Species:</b> {{ object.lot.species.common_name }} (<em>{{object.lot.species.scientific_name}}</em>)  </p>
  <p>  <b>Strain:</b> {{ object.lot.strain.strain_name }} ({{object.lot.strain.sto_code}}) </p>
                                       
  <p>  <b>Stocking Date:</b> {{ object.event_date|date }} </p>
  <p>  <b>Clip Applied:</b> {{ object.clipa }} </p>
  <p>  <b>Fish Age (months):</b> {{ object.fish_age }} </p>
  <p>  <b>Number Stocked:</b> {{ object.stkcnt|intcomma }} </p>
  <p>  <b>Life Stage:</b> {{ object.get_development_stage_display }} ({{ object.development_stage }}) </p>

  <p>  <b>Transit Method:</b> {{ object.get_transit_display|title }} </p>
  <p>  <b>Stocking Method:</b> {{ object.get_stocking_method_display }} </p>
  <p>  <b>Stocking Purpose:</b> {{ object.get_stocking_purpose_display }} ({{ object.stocking_purpose }}) </p>

  {% autoescape off %}
  <p>  <b>Latitude:</b> {{ object.dd_lat |format_ddlat }} </p>
  <p>  <b>Longitude:</b> {{ object.dd_lon |format_ddlon }} </p>
  {% endautoescape %}

  <p>  <b>Closest Named Stocking Site:</b> 
<a href="{% url 'site_detail' object.site.id %}">{{ object.site.site_name }} ({{ object.site.fsis_site_id }})</a></p>
  <p>  <b>Basin:</b> {{ object.site.basin }} </p>
  <p>  <b>Grid Number:</b> {{ object.site.grid }} </p>

<hr />

</div>
 

<div id="related">

<h3>Tags associated with this stocking event: </h3>

{% if object.get_cwts %}  

<ul>
  {% for cwt in object.get_cwts %}
    <li><a href="{% url 'event_cwt_list' cwt.cwt %}"> {{ cwt }}</a></li>
  {% endfor %}
</ul>

{% else %}

  <p>There do not appear to be any tags associated with this event. </p>

{% endif %}

</div>

<hr />

<div id="buttonbar" align="left">
<a href="{% url 'event_create' %}"><button>Edit Event Information</button></a>
<a href="{% url 'event_update' object.id %}"><button>Create A New Event</button></a>

</div>





{% endblock %}
