{% extends "fsis2/fsis2_base.html" %}

{% block extrahead %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}themeblue.css" /> 
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}tablesorter.css" /> 
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.tablesorter.js"></script> 
{% endblock %}

{% block title %} {{ object.title  }}  {% endblock %}

{% block header %} 
<h2> FSIS Event: {{ object.fs_event }} </h2>
<hr />
{% endblock %}

{% block content %}

{% load humanize %}
{% load fsis2_filters %}

  <p>  <b>FSIS Event Number:</b> {{ object.fs_event }} </p>
  <p>  <b>Species:</b> {{ object.lot.species.common_name }} (<em>{{object.lot.species.scientific_name}}</em>)  </p>
  <p>  <b>Strain:</b>{{ object.lot.strain.strain_name }} ({{object.lot.strain.sto_code}}) </p>
                                       
  <p>  <b>Stocking Date:</b> {{ object.event_date|date }} </p>
  <p>  <b>Clip Applied:</b> {{ object.clipa }} </p>
  <p>  <b>Fish Age (months):</b> {{ object.fish_age }} </p>
  <p>  <b>Number Stocked:</b> {{ object.stkcnk|intcomma }} </p>
  <p>  <b>Life Stage:</b> {{ object.get_development_stage_display }} ({{ object.development_stage }}) </p>

  <p>  <b>Transit Method:</b> {{ object.get_transit_display }} </p>
  <p>  <b>Stocking Method:</b> {{ object.get_stocking_method_display }} </p>
  <p>  <b>Stocking Purpose:</b> {{ object.get_stocking_purpose_display }}({{ object.stocking_purpose }}) </p>

  {% autoescape off %}
  <p>  <b>Latitude:</b> {{ object.dd_lat |format_ddlat }} </p>
  <p>  <b>Longitude:</b> {{ object.dd_lon |format_ddlon }} </p>
  {% endautoescape %}

  <p>  <b>Closest Named Stocking Site:</b> {{ object.site.site_name }} ({{ object.site.fsis_site_id }})</p>
  <p>  <b>Basin:</b> {{ object.site.basin }} </p>
  <p>  <b>Grid Number:</b> {{ object.site.grid }} </p>

<hr />

<p> <em>Add a map here.</em> </p>
 
<h3>Tags associated with this stocking event: </h3>

{% if object.cwts %}  

  <table id="myTable" class="tablesorter-blue">
    <thead><tr><td>FSIS Event</td><td>Number Stocked</td> <td>Event Date</td>
    <td>Site Name</td><td>Clip Applied</td> <td>Development Stage</td></tr>
    </thead>
  <tbody>
  {% for tag in object.cwts %}
    <tr class="{% cycle row1,row2 %}">
	<td> <a href="">{{ event.fs_event }}</a> </td>
	<td> {{ event.stkcnt|intcomma }} </td> 
        <td> {{ event.event_date|date }} </td>
	<td> {{ event.site.site_name }} </td> 
	<td> {{ event.clipa }} </td> 
        <td> {{ event.get_development_stage_display }} </td>
    </tr>
  {% endfor %}
  </tbody>
  </table>


{% else %}

  <p>There do not appear to be any tags associated with this event. </p>

{% endif %}









<hr />

<div id="buttonbar" align="left">
<a href="#"><button>Edit Event Information</button></a>
<a href="#"><button>Create A New Event</button></a>

<hr />

</div>





{% endblock %}
