{% extends "fsis2/fsis2_base.html" %}

{% block extrahead %}
    {{ map.media }}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}themeblue.css" /> 
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}tablesorter.css" /> 
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.tablesorter.js"></script> 

{% endblock %}

{% block title %} {{ object.title  }}  {% endblock %}

{% block header %} 

  <div id="map">
     {{ map }}
  </div>

<div id="info">

<h2> FSIS Lot: {{ object.fs_lot }} </h2>
<hr />
{% endblock %}

{% block content %}
{% load humanize %}


  <p>  <b>FSIS Lot Number:</b> {{ object.fs_lot }} </p>
  <p>  <b>Species:</b> {{ object.species.common_name }} (<em>{{object.species.scientific_name}}</em>)  </p>
  <p>  <b>Strain:</b>{{ object.strain.strain_name }} ({{object.strain.sto_code}}) </p>
  <p>  <b>Spawn Year:</b> {{ object.spawn_year }} </p>
  <p>  <b>Raised and Stocked by:</b> {{ object.proponent.proponent_name|title }} </p>
  <p>  <b>Rearing Location:</b> {{ object.rearloc_nm|title }} </p>
  <p>  <b>Proponent Type:</b> {{ object.get_Proponent_Type_display }} </p>
        
  </div>



<div id="related">
<hr />  
<h3>Stocking Events: </h3>

{% if object.event_set.all %}  

  <table id="myTable" class="tablesorter-blue">
    <thead><tr><td>FSIS Event</td><td>Number Stocked</td> <td>Event Date</td>
    <td>Site Name</td><td>Clip Applied</td> <td>Development Stage</td></tr>
    </thead>
  <tbody>
  {% for event in object.event_set.all %}
    <tr class="{% cycle row1,row2 %}">
        <td> <a href="{% url 'event_detail' event.id %}">{{ event.fs_event }}</a> </td>
        <td> {{ event.stkcnt|intcomma }} </td> 
        <td> {{ event.event_date|date }} </td>
        <td> {{ event.site.site_name }} </td> 
        <td> {{ event.clipa }} </td> 
        <td> {{ event.get_development_stage_display }} </td>
    </tr>
  {% endfor %}
  </tbody>
  </table>

{% else %}

  <p>There are currenly No events associated with lot {{ object.fs_lot }} </p>

{% endif %}

</div>




<hr />

<div id="buttonbar" align="left">
<a href="{% url 'lot_update' object.id %}"><button>Edit Lot Information</button></a>
<a href="{% url 'lot_create' %}"><button>Create A New Lot</button></a>
<a href="#"><button>Create A New Event for this Lot </button></a>
<hr />

</div>





{% endblock %}
