{% extends "fsis2/fsis2_base.html" %}

{% block extrahead %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}themeblue.css" /> 
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}tablesorter.css" /> 
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.tablesorter.js"></script> 
{% endblock %}

{% block title %} {{ object.title  }}  {% endblock %}

{% block header %} 
<h2> Named Stocking Site: {{ object.site_name }} </h2>
<hr />
{% endblock %}

{% block content %}
{% load fsis2_filters %}


  <div id="map">
     <p><em>(pretend the bioplot is a map)</em></p>      
     <img src="{{STATIC_URL}}/dummy.png" class="" alt="" />
  </div>

  <div id="info">


  <p> <b>FSIS Site Number:</b> {{ object.fsis_site_id }} </p>
  <p> <b>Name Site:</b> {{ object.site_name }} </p>
  <p> <b>Destination Waterbody (LID):</b> {{ object.deswby}} ({{ object.deswby_lid}}) </p>
  <p><b>Basin:</b> {{ object.basin|title}} </p>
  <p><b>5-minute Grid:</b> {{ object.grid}} </p>
  <p> <b>Stocked Waterbody (LID):</b> {{ object.stkwby }} ({{ object.stkwby_lid }})</p>


  {% autoescape off %}
  <p>  <b>Latitude:</b> {{ object.dd_lat |format_ddlat }} </p>
  <p>  <b>Longitude:</b> {{ object.dd_lon |format_ddlon }} </p>
  {% endautoescape %}

  <p> <b>UTM:</b> {{ object.utm }} </p>

</div>

<hr />

<div id="buttonbar" align="left">
<a href="{% url 'site_update' object.id %}"><button>Edit Site Information</button></a>
<a href="{% url 'site_create' %}"><button>Create A New Stocking Site</button></a>

<hr />

</div>





{% endblock %}
