{% extends "fsis2/fsis2_base.html" %}

<!-- {% block pages %}


{% endblock %}
-->

{% block extrahead %} 
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}themeblue.css" /> 
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}tablesorter.css" /> 
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.tablesorter.js"></script> 
{% endblock %}


{% block content %}


{% load fsis2_filters %}


<div>
  <div>
    <h2>Named Stocking Sites</h2>
  </div>  

  <div style="float: right;">
  <form id="custom-search-form" class="form-search form-horizontal pull-right" 
        action="{% url "site_list" %}" method="GET">
    <div class="input-append span12">
      <input name ="q" type="text" class="search-query" placeholder="name contains">
      <button type="submit" class="btn"><i class="icon-search"></i></button>
    </div>
  </form>
  </div>
</div> 


{% if page_obj %} 
{% if page_obj.paginator.num_pages > 1 %}  
<ul class="pager">
    {% if page_obj.has_previous %}
    <li class="previous"><a href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
    {% else %}
    <li class="previous disabled"><a href="#">Previous</a></li>
    {% endif %}
    <span class="page-current">
       Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
    </span>
    {% if page_obj.has_next %}
    <li class="next"><a href="?page={{ page_obj.next_page_number }}">Next</a></li>
    {% else %}
    <li class="next disabled"><a href="#">Next</a></li>
    {% endif %}
</ul>
{% else %}
  <br />
{% endif %}
{% endif %}



  {% if object_list %}

  <table id="myTable" class="tablesorter-blue">
    <thead><tr>
	<td>FSIS Site ID</td>
	<td>Site Name</td>
	<td>Basin</td>
	<td>Grid</td> 
	<td>Latitude</td>
	<td>Longitude</td>
    </thead>
  <tbody>
  {% for site in object_list %}
    <tr class="{% cycle row1,row2 %}">
	<td> <a href="{% url 'site_detail'  site.id  %}">{{ site.fsis_site_id }}</a> </td>
	<td> {{ site.site_name }} </td> 
	<td> {{ site.basin }} </td>
	<td> {{ site.grid }} </td>
	{% autoescape off %}
	<td> {{ site.dd_lat|format_ddlat }} </td> 
	<td> {{ site.dd_lon|format_ddlon }} </td> 
        {% endautoescape %}
    </tr>
  {% endfor %}
  </tbody>
  </table>

  {% else %}
    <p>Sorry no named stocking sites match that criteria.</p>
  {% endif %}







{% endblock %}


