{% extends "password_reset/reset_base.html" %}



{% block content %}

{% load i18n %}


<div class="container" >
  <h3>Password Reset</h3>
  <div class="well" >

    <p>
      {% blocktrans with username=context.user.username %}Dear {{ username }},{% endblocktrans %}
    </p>

    </p>
    {% blocktrans with domain=context.site.domain %}You -- or someone pretending to be you -- has requested a password reset on {{ domain }}.{% endblocktrans %}
    </p>

    <p>
      {% trans "You can set your new password by following this link:" %}

      <a href="http{% if context.secure %}s{% endif %}://{{ context.site.domain }}{% url "password_reset_reset" context.token %}">http{% if context.secure %}s{% endif %}://{{ context.site.domain }}{% url "password_reset_reset" context.token %}</a>

    </p>

    <p>
      {% trans "If you don't want to reset your password, simply ignore this email and it will stay unchanged." %}
    </p>

  </div>
</div>

<p><a href="{% url 'index' %}">Return to Index</a>  </p>

{% endblock %}
