{% extends "password_reset/reset_base.html" %}{% load i18n %}

{% block title %}{% trans "New password set" %}{% endblock %}

{% block content %}


<div class="row top-buffer" ></div>
  <div class="panel" >
    <div class="col-sm-offset-2 col-sm-6">
    <div class="alert alert-success">
      <p>{% trans "Your password has successfully been reset. You can use it right now on the login page." %}</p>
    </div>
    <p><a href="{% url 'login' %}">Login again</a> | <a href="{% url 'index' %}">Index</a> </p>
  </div>
</div>



{% endblock %}
