{% extends "password_reset/reset_base.html" %}

{% load i18n %}

{% block content %}


<div class="row top-buffer" ></div>

{% if invalid %}{% url "password_reset" as recovery_url %}
<div class="panel" >
  <div class="col-sm-offset-2 col-sm-6">
    <div class="alert alert-danger">
      <p>{% blocktrans %}Sorry, this password reset link is invalid. You can still <a href="{{ recovery_url }}">request a new one</a>.{% endblocktrans %}</p>
    </div>
  </div>
</div>

{% else %}

<div id="ResetPasswordd">
  <div class="row top-buffer">
    <!-- Alignment -->
    <div class="col-sm-offset-3 col-sm-5">
      <!-- Form itself -->
      <form method="POST" action={% url "password_reset_reset" token %}
            class="well" id="password_reset">
        {% csrf_token %}

        <p>{% blocktrans %}Hi, <strong>{{ username }}</strong>. Please choose your new password.{% endblocktrans %}</p>

        {% if form.errors %}
        <div class="alert alert-danger">
          <button type="button" class="close" data-dismiss="alert">×</button>
          <ul>
            {% for error in form.errors.values %}
            <li>{{ error|striptags }}</li>
            {% endfor %}
          </ul>

        </div>
        {% endif %}

        <!-- Password1 -->
        <div class="form-group">
          <div class="controls">
            <input type="password" class="form-control" placeholder="New Password"
                   id="id_password1" name="password1" required />
            </div>
          </div>

          <!-- Password2 -->
          <div class="form-group">
            <div class="controls">
              <input type="password" class="form-control" placeholder="New Password (again)"
                     id="id_password2" name="password2" required />
            </div>
          </div>

          <div class="row">
            <button type="submit" class="btn btn-primary pull-right"
                    value="{% trans "Set new password" %}"/>Set new password</button><br /></p>
          </div>

      </form>
        </div>
    </div>
  </div>

  {% endif %}

{% endblock %}
